body {
  background-color: 546A4F;
}

h1 {
 color: 0F0F0F: 
 text-size: 60%; 
 text-align: center; 
}

p {
text-size: 20%; 
text-align: center;
background-color:6C8367; 
}


/* -------------------------------------STYLE OF NAVIGATION BAR (TAKEN FROM EXAMPLE)------------------- */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  left: 0;
  overflow: hidden;
  background-color: 1C231A;
}


li {
  float: center;
}

li a {
  display: block;
  color: DDE5DC;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
}

li a:hover {
  background-color: 394836;
}

