body {
  background-color: 546A4F;
  background-image: url("leaves2.png")
  background-repeat: no repeat; 
  background-position: center; 
}

h1 {
 color: 0F0F0F: 
 text-size: 80%; 
 text-align: center; 
 border-style: 2px double; 
 border-color: 6C8367; 
}

p {
text-size: 20%; 
text-align: center;
background-color:6C8367; 
margin-left: auto; 
margin-right: auto;
width: 75%;
}


/* -------------------------------------STYLE OF NAVIGATION BAR (TAKEN FROM EXAMPLE)------------------- */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  left: 0;
  overflow: hidden;
  background-color: 1C231A;
}


li {
  float: left;
}

li a {
  display: block;
  color: DDE5DC;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
}

li a:hover {
  background-color: 394836;
}

li a.active {
  background-color: 587552;
  color: 1C231A;
}

